/*body {
    background-image: url('Images/background.jpg');
    background-size: 110%;
}*/
body {
  background-size: auto;
  background-position: center;
}
/* Center align the header and footer text 
header h1, footer p {
    text-align: center;
}
*/
/* Remove the centered-text class from HTML and CSS, as it's no longer needed */
header h1{
  padding: 0;
  text-align: center;
  margin-top: 50px;
  font-family: "arial", sans-serif;
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*place-items: center;*/
  /*position: absolute;*/
}
/*.typed::before{
  width: 100%;
  text-align: center;
}*/
main h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
main h3 span {
  color: red;
}
.test::before{
  width: 0;
}
.test::after{
  width: 100%;
}
.test{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  /*border-right: .15em solid orange;*/
  animation: typing 10s;
  text-align: center;
}
@keyframes test {
  from { width: 0%}
  to {width: 100%}
}
.typed{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  /*border-right: .15em solid orange;*/
  animation: typing 10s;
  text-align: center;
}
@keyframes typing {
  from { width: 0%}
  to {width: 100%}
}

/*.container{
  display: inline-block;
  font-family: "arial";
  font-size: 24px;
}*/
/*
.typed::before{
  width: 100%;
  place-items: center;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/

/*main div h2, p {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/
main h2, main p, footer {
    text-align: center;
    position: fixed;
    /*bottom: 0;*/
    width: 100%;
}

footer {
  bottom: 0;
}
/*main ul {
  bottom: 40px;
}*/
main p {
    bottom: 30px; /* Adjust the desired distance between h2 and p */
}

main h2 {
    bottom: 60px; /* Adjust the desired distance between h2 and p */
}

.container{
  text-align: center;
  margin-top: 360px;
}
.btn{
  border: 1px solid #3498db;
  color: white;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  /*left: 200px;*/
}
.btn1{
  bottom: 200px;
  left: 250px;
}
.btn2{
  bottom: 0px;
  left: 100px;
}
.btn3{
  bottom: -200px;
  left: -40px;
}
.btn4{
  bottom: -400px;
  left: -200px;
}
/*.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}*/
.btn2:hover,.btn4:hover{
  /*color: #fff;*/
  color: red;
  box-shadow: 5px 10px 7px 5px blue;
}
.btn1:hover,.btn3:hover{
  color: blue;
  box-shadow: 5px 10px 7px 5px red;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background:#3BC00E; /* #3498db;*/
  z-index: -1;
  transition: 0.8s;
  /*transform: translateY(-100%);*/
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
/*.btn3::before,.btn4::before{
  height: 180%;
}*/
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 180%;
}
